<h1 style="color:red">
    VISTA DE CONTENIDO
</h1>

@section images {
    <p>Section images vista contenido</p>
    <img src="~/images/logo10.png" width="250px" />
}

@section home {
    <p>Section home vista contenido</p>
    <img src="~/images/logo13.jpg" width="250px" />
}