<h1 style="color:orangered" id="message">
    Estoy en casita
</h1>

<button class="btn btn-outline-danger" id="botonView">
    Mensage en View Index
</button>

@section scripts {
    <script>
        $(document).ready(function () {
            $("#botonView").click(function () {
                $("#message").text("He cambiado a la Vista INDEX!!!")
            })
        })
    </script>
}