@model Departamento

<a asp-controller="Departamentos" asp-action="Index">🔙</a>

<form method="post">
    <input type="hidden" value="@Model.IdDeptartamento" name="IdDeptartamento" />

    <label class="form-label">Nombre</label>
    <input class="form-control" type="text" name="Nombre" value="@Model.Nombre" />

    <label class="form-label">Localidad</label>
    <input class="form-control" type="text" name="Localidad" value="@Model.Localidad" />

    <button class="btn btn-outline-primary">
        Actualizar
    </button>
</form>