<a asp-controller="Departamentos" asp-action="Index">🔙</a>

<form method="post">
    <label class="form-label">Nombre</label>
    <input class="form-control" type="text" name="nombre" />

    <label class="form-label">Localidad</label>
    <input class="form-control" type="text" name="localidad" />

    <button class="btn btn-outline-primary">
        Crear departamento
    </button>
</form>