@model Departamento

<a asp-controller="Departamentos" asp-action="Index">🔙</a>

<h1>Detalles del departamento: @Model.Nombre</h1>

<h2>ID: @Model.IdDeptartamento</h2>
<h2>Localidad: @Model.Localidad</h2>
