<ul>
    <li>
        <a asp-controller="Matematicas" asp-action="SumarNumerosPost">Sumar dos números por POST</a>
    </li>
    <li>
        @Html.ActionLink("Sumar dos numeros por GET", "SumarNumerosGet", "Matematicas", new {num1 = 5, num2 = 10})
    </li>
    <li>
        <a asp-controller="Matematicas" asp-action="ConjeturaCollatz">Formulario Collatz</a>
    </li>
    <li>
        <a asp-controller="Matematicas" asp-action="TablaMultiplicar">Tabla multiplicar</a>
    </li>
</ul>