<form class="form" method="post">
    <label>Numero 1</label>
    <input type="number" name="num1" class="form-control" />

    <label>Numero 2</label>
    <input type="number" name="num2" class="form-control" />

    <button class="btn btn-success">
        Sumar
    </button>
</form>

<h1 style="color:blue">
    @ViewData["RESULTADO"]
</h1>