@model List<ResultMultiplicarModel>

<h1>Tabla Multiplicar</h1>

<form method="post">
    <label>Introduce un número</label>
    <input type="number" name="num" />

    <button class="btn btn-success">
        Tabla de multiplicar
    </button>
</form>

<ul>
    @{
        if (Model != null)
            foreach (var item in Model)
            {
                <li>
                    @item.Operacion = @item.Resultado
                </li>
            }
    }
</ul>