<form method="post">
    <label>Nombre del contenedor</label>
    <input type="text" name="containername" />

    <label>¿Quieres que sea público?</label>
    <input type="checkbox" name="ispublic" value="true" checked />

    <button class="btn btn-success">
        Create
    </button>
</form>
