<h1 style="color: blue;">
    Azure Cosmos DB
</h1>

<form method="post">
    <button class="btn btn-danger" value="start" name="accion">
        Generar Recursos Cosmos DB
    </button>
</form>

<h1 style="color: red;">
    @ViewData["MENSAJE"]
</h1>
