<!DOCTYPE html>
<html>
    <head>
        <title>Mi nueva plantilla</title>
    </head>
    <body>
        <h1>SUPER NUEVA PLANTILLA!!!</h1>
        <div style="background-color:lightcoral">
            MI ZONA DE VISTAS
            @RenderBody()
        </div>
    </body>
</html>