<h1 class="color: red;">
    Upload File
</h1>

<form method="post" enctype="multipart/form-data">
    <label class="form-label">Selecciona un archivo:</label>
    <input type="file" name="file" class="form-control" />

    <button class="btn btn-info">
        Subir
    </button>
</form>
