<h1 class="title">VISTA NUEVO HOSPITAL</h1>

<form method="post">
    <label>Id Hospital</label>
    <input type="text" name="IdHospital" required />

    <label>Nombre</label>
    <input type="text" name="HospitalName" required />

    <label>Dirección</label>
    <input type="text" name="Direccion" required />

    <label>Teléfono</label>
    <input type="text" name="Telefono" required />

    <label>Camas</label>
    <input type="text" name="Camas" required />

    <button class="btn waves-effect waves-light">
        Nuevo hospital
    </button>
</form>

<h1 class="subtitle" style="color: fuchsia">@ViewData["MENSAJE"]</h1>