@model Hospital

<h1 class="title">VISTA DETALLES HOSPITAL</h1>

<a asp-controller="Hospitales" asp-action="Index">Volver a hospitales</a>

<h2 class="subtitle">NOMBRE: @Model.HospitalName</h2>
<h2 class="subtitle">DIRECCION: @Model.Direccion</h2>
<h2 class="subtitle">TELEFONO: @Model.Telefono</h2>
<h2 class="subtitle">CAMAS: @Model.Camas</h2>
