<h1>Crear nuevo doctor</h1>

<form method="post">
    <label>ID HOSPITAL</label>
    <input class="form-control" type="text" name="HospitalCod" />

    <label>ID DOCTOR</label>
    <input class="form-control" type="text" name="DoctorNo" />

    <label>APELLIDO</label>
    <input class="form-control" type="text" name="Apellido" />

    <label>ESPECIALIDAD</label>
    <input class="form-control" type="text" name="Especialdad" />

    <label>SALARIO</label>
    <input class="form-control" type="text" name="Salario" />

    <button>
        Crear Doctor
    </button>
</form>