<a asp-controller="Doctores" asp-action="Index">Volver</a>

<form method="post">
    <label>Hospital Cod</label>
    <input type="text" name="HospitalCod" class="form-control" />

    <label>Apellido</label>
    <input type="text" name="Apellido" class="form-control" />

    <label>Especialidad</label>
    <input type="text" name="Especialidad" class="form-control" />

    <label>Salario</label>
    <input type="number" name="Salario" class="form-control" />

    <button class="btn btn-outline-primary">
        Insertar doctor
    </button>
</form>
