<a asp-controller="Hospitales" asp-action="Index" class="btn btn-info">🔙</a>

<form method="post">
    <label class="form-label">Nombre</label>
    <input class="form-control" type="text" name="nombre" />

    <label class="form-label">Dirección</label>
    <input class="form-control" type="text" name="direccion" />

    <label class="form-label">Teléfono</label>
    <input class="form-control" type="text" name="telefono" />

    <label class="form-label">Camas</label>
    <input class="form-control" type="number" name="camas" />

    <button class="btn btn-success">
        Insertar hospital
    </button>
</form>
