<h1>Register user</h1>

<form method="post" enctype="multipart/form-data">
    <label>Nombre</label>
    <input type="text" name="nombre" class="form-control" />

    <label>Email</label>
    <input type="email" name="email" class="form-control" />

    <label>Password</label>
    <input type="text" name="password" class="form-control" />

    <label>Imagen</label>
    <input type="file" name="imagen" class="form-control" />

    <button class="btn btn-info">
        Register
    </button>
</form>

<h1 style="color: blue;">
    @ViewData["MENSAJE"]
</h1>
