<h1 style="color: red;">
    Generar Token e Alumnos
</h1>
<form method="post">
    <label>Introduzca un curso:</label>
    <input name="curso" type="text" class="form-control" />

    <button class="btn btn-info">
        Token
    </button>
</form>

<p>Token generado</p>

<textarea class="form-control">
    @ViewData["TOKEN"]
</textarea>
