@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>
    Información
</h1>

<ul>
    <li>
        <a asp-area="" asp-controller="Informacion" asp-action="ControladorVista">Controlador ---> Vista</a>
    </li>
    <li>
        <a asp-area="" asp-controller="Informacion" asp-action="VistaControladorGet">Vista ---> Controller GET</a>
    </li>
    <li>
        <a asp-area="" asp-controller="Informacion" asp-action="VistaControladorPost">Vista ---> Controller POST</a>
    </li>
</ul>