<h1 style="color: red;">
    No tienes permisos para acceder
</h1>

<h1 style="color: blue;">
    No has iniciado sesión en la app
</h1>

<img width="300" src="https://www.simplilearn.com/ice9/free_resources_article_thumb/what_is_image_Processing.jpg" />