<form method="post">
    <label class="form-control">Introduzca su Username</label>
    <input type="text" name="email" class="form-control" />

    <label class="form-control">Introduzca su Password</label>
    <input type="text" name="password" class="form-control" />

    <button class="btn btn-outline-success">
        Iniciar sesión
    </button>
</form>

<h1>@ViewData["MENSAJE"]</h1>
