<nav>
  <a [routerLink]="['/']">
    <h2 style="margin: 5px">Home</h2>
  </a>
  <a [routerLink]="['/cine']">
    <h2 style="margin: 5px">Cine</h2>
  </a>
  <a [routerLink]="['/television']">
    <h2 style="margin: 5px">Televisión</h2>
  </a>
  <a [routerLink]="['/musica']">
    <h2 style="margin: 5px">Musica</h2>
  </a>
  <a [routerLink]="['/numerodoble/4']">
    <h2 style="margin: 5px">Numero doble de 4</h2>
  </a>
  <a [routerLink]="['/numerodoble/10']">
    <h2 style="margin: 5px">Numero doble de 10</h2>
  </a>
  <a [routerLink]="['/numerodoble']">
    <h2 style="margin: 5px">Numero sin parámetro</h2>
  </a>
</nav>
