@{
    ViewData["Title"] = "UpdateDoctor";
}

@{
    int idDoctor = int.Parse(ViewData["ID_DOCTOR"].ToString());
}

<h1>IncrementarSalario</h1>

<h4>Doctor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="IncrementarSalario">
            <input value="@idDoctor" name="id" type="hidden" class="form-control" />

            <div class="form-group">
                <label class="control-label">Incremento</label>
                <input name="incremento" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
