@{
    if (Context.User.Identity.IsAuthenticated == false)
    {
        <li class="nav-item">
            <a asp-controller="Doctores" asp-action="Perfil" class="nav-link">
                Login
            </a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a asp-controller="Doctores" asp-action="Perfil" class="nav-link">
                Mi Perfil
            </a>
        </li>
        <li class="nav-item">
            <a asp-controller="Managed" asp-action="Logout" class="nav-link">
                Logout @Context.User.Identity.Name
            </a>
        </li>
    }
}
