@if (Context.User.Identity.IsAuthenticated)
{
    <li class="nav-item">
        <a class="nav-link text-danger"
       asp-controller="Managed" asp-action="Logout">Logout</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-info"
       asp-controller="Cubos" asp-action="Perfil">Perfil</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-info"
       asp-controller="Cubos" asp-action="Pedidos">Pedidos</a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-danger"
       asp-controller="Cubos" asp-action="Perfil">Login</a>
    </li>
}
