@{
    ViewData["Title"] = "Home Page";
}

<ul class="list-group">
    <li class="list-group-item">
        <a asp-controller="Home" asp-action="Personas">Consumo FRONT Personas</a>
    </li>
    <li class="list-group-item">
        <a asp-controller="Home" asp-action="Cliente">Consumo FRONT Hospitales</a>
    </li>
</ul>