<h1>NUEVO DEPARTAMENTO</h1>

<form method="post">
    <label>ID Departamento</label>
    <input class="form-control" type="text" name="IdDepartamento" />

    <label>Nombre</label>
    <input class="form-control" type="text" name="Nombre" />

    <label>Localidad</label>
    <input class="form-control" type="text" name="Localidad" />

    <button>
        Crear departamento
    </button>
</form>

<h2 style="color:red">@ViewData["MENSAGE"]</h2>
