@model Departamento
<h1>DETALLES DEPARTAMENTO</h1>

@Html.ActionLink("Volver", "Index", "Departamentos")

<h2>ID: @Model.IdDepartamento</h2>
<h2>NOMBRE: @Model.Nombre</h2>
<h2>LOCALIDAD: @Model.Localidad</h2>