<form method="post">
    <label class="form-label">Nombre</label>
    <input class="form-control" type="text" name="nombre" />

    <label class="form-label">Imagen</label>
    <input class="form-control" type="text" name="imagen" />

    <label class="form-label">Descripcion</label>
    <input class="form-control" type="text" name="descripcion" />

    <button class="btn btn-primary">
        Create
    </button>

    <a asp-controller="Comics" asp-action="Index">Back to list</a>
</form>