<h1>Empleados Almacenados Session</h1>

@{
    List<Empleado>? empleados = Context.Session.GetObject<List<Empleado>>("EMPLEADOS");
}

<a asp-controller="Empleados" asp-action="SessionEmpleados">
    Volver
</a>

@{
    if (empleados != null)
    {
        <ul class="list-group">
            @{
                foreach (Empleado emp in empleados)
                {
                    <li class="list-group-item">
                        Apellido: @emp.Apellido, Oficio: @emp.Oficio, Salario: @emp.Salario
                    </li>
                }
            }
        </ul>
    }
    else
    {
        <h1 style="color: red;">No existen empleados en session</h1>
    }
}
