@model List<Empleado>

<h1>Session Empleados</h1>

<a asp-controller="Empleados" asp-action="EmpleadosAlmacenados">
    Empleados almacenados
</a>

<br />

<ul class="list-group">
    @{
        foreach (Empleado emp in Model)
        {
            <li class="list-group-item">
                @emp.Apellido
                <a asp-controller="Empleados"
           asp-action="SessionEmpleados"
           asp-route-idempleado="@emp.IdEmpleado">
                    Almacenar empleado
                </a>
            </li>
        }
    }
</ul>
